.popup{
  position:fixed;
  left:50vw;
  margin-left:35px;
  top:50vh;
  margin-top:-210px;
  opacity:0;
  transition:all 1s;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -o-transition:all 1s;
}


.popup div
{
  width:120px;
  font-size:20px;
}

.popup div
{
  padding:50px;
  background-color:black;
  color:white;
  text-align:center;
}

/* button */
  .button{
    position:fixed;
    top:50vh;
    margin-top:-78px;
    left:50vw;
    margin-left:-78px;
    display:inline-block;
    text-align:center;
    background-color: #D3D3D3;
    padding:40px;
    
    font-size:30px;
    
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
  }

.button:hover{
  background-color: #D3D3D3;
    cursor:pointer;
}
/* Gestion des évenements */
  
  .button:hover ~.popup
{
  margin-left:45px;
  margin-top:-220px;
  opacity:1;
}

<span class='button'> Hover <br>  Me </span>
  <div class='popup'>
  <div>Hello guys !</div>
  <svg height="50" width="100">
  <path d="M0 50 L40 0 L65 0 Z" />
  Sorry, your browser does not support inline SVG.
</svg>
  </div>